<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head.html'); -%>
</head>
<body>
    <style>
        body {
            background: -webkit-linear-gradient(90deg, #112e0f,#112e0f,#165414,#379f3c);
background: linear-gradient(90deg, #112e0f,#112e0f,#165414,#379f3c);
            /*
            background: #4B79A1;  
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
background: linear-gradient(to right, #283E51, #4B79A1); */

        }
    
        #contener {
            width: 60%;
            min-height: 50vh;
            position: fixed;
            bottom: 25%;
            right: 20%;
    
        }
    </style>

    <p id="prueba"></p>
    <div id="pdf"></div>
    <script src="/js/pdf.js"></script>
    <script src="/js/pdf2.js"></script>
    <script src="/js/pdf3.js"></script>

</body>

</html>