<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tabla.css">
    <%- include('partial/head.html'); -%>
    <title>Document</title>
</head>
<body>
    <%- include('partial/navigation.html'); -%>
    <style>
        body {
            background: #F7F8F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, n

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
            /*background: #4B79A1;  
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
    background: linear-gradient(to right, #283E51, #4B79A1);  */
    
        }
    footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    }
    </style>
    <div align='center'>
        <h5 id="titleP" class="text-black fw-bold"></h5>
    <div id="tablas" class="container" style="width: 50%"></div>
</div>
    <script src="/js/pdf.js"></script>
</body>  
</html>