<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partial/head.html'); -%>
</head>
<body>
    <style>
        body {
            background: -webkit-linear-gradient(90deg, #112e0f,#112e0f,#165414,#379f3c);
background: linear-gradient(90deg, #112e0f,#112e0f,#165414,#379f3c);
            /*
            background: #4B79A1;  
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
background: linear-gradient(to right, #283E51, #4B79A1); */

        }
    
        #contener {
            width: 60%;
            min-height: 50vh;
            position: fixed;
            bottom: 25%;
            right: 20%;
    
        }
    </style>
    <%- include('partial/navigation.html'); -%>
    <div id="contener" align='center'>
        
        <div class="card animated flipInY animate__animated animate__backInUp">
            <div class=" card-header bg-dark text-white">
                <h2 class="text-center">ANALISIS DE DATOS</h2><br>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Lista Preliminar de Estudiantes CRUV  </label>
                    <input class="form-control form-control-sm"type="file" name="listaP" id="listaP">
                    <div id="doneListaP"></div>
                </div>
                
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">Directorio de Estudiantes Sexo y Turno CRUV </label>
                <input class="form-control form-control-sm" name="listaD" id="listaD" type="file">
                <div id="doneListaD"></div>
              </div>
              <div class="form-group">
                <br>
                <button id="buscar" onclick="location.href='analisis'" class="btn btn-primary">Analizar</button>
            </div>
        </div>

</div>
    </div>
    <%- include('partial/footer.html'); -%>
    <script src="/js/js.js"></script>
    <script src="main.js"></script>

<script>
    $('#listaD').change(function(e){
        var file= e.target.files[0]
        var formData= new FormData();
        
        formData.append("myFile1", file)
        $.ajax({
            url: "/api/products/file1",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            crossDomain: true
        }).done(function() {
            $("#doneListaD").html('Cargado correctamente<i class="bi bi-check-circle-fill"></i>')
      });
    })
    $('#listaP').change(function(e){
        var file= e.target.files[0]
        var formData= new FormData();
        
        formData.append("myFile2", file)
        $.ajax({
            url: "/api/products/file2",
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            crossDomain: true
        }).done(function() {
            $("#doneListaP").html('Cargado correctamente<i class="bi bi-check-circle-fill"></i>')
      });
    })
</script>
</body>

</html>